
<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'campaigns' %}">BetterTomorrow</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% if user.is_authenticated %}

      <div class="collapse navbar-collapse navbar-custom" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'campaigns' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Campaigns</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'campaigns' %}">All Campaigns</a>
              <a class="dropdown-item" href="{% url 'add_campaign' %}">Add New Campaign</a>
 
            </div>
          
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>



          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_profile' %}">Profile</a>
          </li>

        </ul>
      </div>

        {% if request.path == '/campaigns/' %}
        <div class="collapse navbar-collapse justify-content-end navbar-custom" id="navbarNav">
          <form class="form-inline my-2 my-lg-0 d-flex align-items-center">
            <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" href="{% url 'signout' %}">Sign Out</a>
            </li>
          </ul>
        </div>
        {% else %}
        <div class="collapse navbar-collapse justify-content-end navbar-custom" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link" href="{% url 'signout' %}">Sign Out</a>
            </li>
          </ul>
        </div>
        {% endif %}

      {% else %}

      <div class="collapse navbar-collapse navbar-custom" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'campaigns' %}">Campaigns</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
          </li>

        </ul>

      </div>



      <div class="collapse navbar-collapse justify-content-end navbar-custom" id="navbarNav">

        <ul class="navbar-nav">
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
          </li>
          <li class="nav-item">
            <button id="signup" class="btn btn-primary"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></button>
          </li> 
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign Up
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">As User</a>
              <a class="dropdown-item" href="#">As Organisor</a>
              
            </div>
          </li> -->

        </ul>


      </div>

      {% endif %}

      

    </div>
  </nav>

